*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  max-width: 1200px;
  /* background: linear-gradient(35deg, #9f9c8d, #936b61); */
}
header {
  background: url(./assets/textura_letra.jpg) no-repeat center;
}

#title-img {
  display: flex;
  justify-content: space-around;

  /* background: #d26262; */
}

img {
  display: block;
}

#image {
  margin-top: 30px;
  border-radius: 10%;
  max-width: 100%;
}

@media (max-width: 460px) {
  #title-img {
    display: grid;
    grid-template-columns: 90%;
    justify-items: center;
    align-items: center;
  }
  #image {
    max-width: 100%;
    order: 2;
  }
}

h1 {
  align-self: center;
  font-size: 5rem;
  box-shadow: inset 5em 1em #b38c8a;
  border: solid;
  padding: 5px;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    order: 1;
  }
}

.main-nav {
  /* background-color: #325a4e; */
  color: aliceblue;
  margin: 0 auto;
}

.main-menu-nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  justify-content: flex-start;
  list-style: none;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 80%;
  padding: 0 0.9rem;
}

@media (max-width: 460px) {
  .main-menu-nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 90%;
    padding: 0 0.9rem;
    font-weight: bold;
  }
}

nav li {
  padding: 0.75rem 0.9375rem;
  text-align: center;
  font-size: 1.75rem;
}
nav a {
  text-decoration: none;
  color: aliceblue;
  padding: 3px;
}
a:hover {
  background-color: #c8b0b0;
}

nav li::after {
  content: " | ";
  position: relative;
  left: 10px;
  padding: 3px;
  font-size: 2.5rem;
}

nav li:last-child::after {
  content: "";
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

.quote-gallery {
  display: flex;
  justify-content: center;
  margin: 0 auto 10px auto;
  flex-wrap: wrap;
  max-width: 767px;
  /* background: linear-gradient(-35deg, #84c2fd, #4fafb0); */
}

#deserve {
  margin: 30px;
}

#beyond {
  margin: 30px;
  justify-self: center;
}

.tribute-info {
  display: flex;
  /* background: linear-gradient(0deg, #4fafb0, #84c2fd); */
  justify-content: center;
  color: #323b40;
  /* margin: 10px; */
  margin: 30px 30px 30px 10%;
  flex-wrap: wrap;
  /* max-width: 767px; */
}

#tribute-list {
  line-height: 1.6;
  margin: 0 auto 20px auto;
  max-width: 767px;
  text-align: left;
}

.tribute-item {
  max-width: 75%;
  font-size: 1.6rem;
}

p {
  text-align: center;
  margin: 5% 5% 50px 5%;
  font-style: normal;
}

p a {
  color: royalblue;
  font-weight: bold;
}

#img-caption {
  position: absolute;
  left: -10000;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}
